.article__main {
	margin: auto;
	padding: 0px 15px;
	max-width: 800px;
}

.author__link, .author__link:visited {
	color: hsl(0, 0%, 40%);
}

.like-btn {
	cursor: pointer;
	border: 3px hsl(0, 0%, 80%) solid;
	border-radius: 15px;
	padding: 5px 10px;
	font-size: 1.1em;
	background-color: white;
	color: black;
	transition: 0.1s ease-in;
}

.like-btn.checked {
	background-color: hsl(0, 100%, 60%);
	border-color: hsl(0, 100%, 40%);
	color: white;
}
