{% extends 'news/base/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'news/css/article_overview.css' %}">
{% endblock %}

{% block content %}
<div class="article__main">
	<h2>{{ article.article_title }}</h2>
	<!--TODO: add href to the author profile-->
	<span><a class="author__link" href="#">{{ article.author.first_name }} {{ article.author.last_name }}</a> - {{ article.publication_date }}</span>
	<hr>
	<p>{{ article.article_text }}</p>
	{% for hashtag in hashtags %}
		<span>#{{hashtag}}</span>
	{% endfor %}
	<!--TODO:comments-->

	<div class="like-box">
		{% if user.is_authenticated %}
			<button onclick="send_request({{ user.id }})" class="like-btn{% if user in article.likers.all %} checked{% endif %}">
				<img src="{% static 'news/icons/favorite_border_white_24dp.svg' %}" alt="Like">
			</button>
		{% endif %}
		<span>Likes:<span id="likes_span">{{ article.likers.all.count }}</span></span>
	</div>
</div>
<script>
	window.CSRF_TOKEN = `{{ csrf_token }}`
</script>
<script src="{% static 'news/js/article_like_ajax.js' %}"></script>
{% endblock %}
