{% extends 'news/base/base.html' %}

{% block content %}
<form method="GET">
	<input type="text" name="article_title">
	<button type="submit">Search articles</button>
</form>
<div class="articles">
	<ul>
		{% for article in matching_articles %}
		<li>
			<a href="{% url 'article_overview' article.id %}">{{ article.article_title }}</a>
			<br>
			<span>{{ article.author.first_name }} {{ article.author.last_name }} - {{ article.publication_date }}</span>
		</li>
		{% endfor %}
	</ul>
</div>
{% endblock %}
