{% extends 'news/base/base.html' %}

{% load static %}

{% block extra_css %}
	<link rel="stylesheet" href="{% static 'news/css/registration.css' %}">
{% endblock %}

{% block content %}
	{% if form.errors %}
		<p>Incorrect username or password<p>
	{% endif %}

	<form method="post" action="{% url 'login' %}" class="main">
		{% csrf_token %}
		<h3>Login</h3>
		{{ form.errors }}
		{% for field in form %}
			{{ field.label }}
			{{ field }}
		{% endfor %}
		<button type="submit" class="custom-submit">Login</button>
		<span>Don't have an account? <a href="{% url 'registration' %}">Create one</a></span>
	</form>
{% endblock %}
