{% extends 'news/base/base.html' %}
{% load static %}

{% block extra_css %}
	<link rel="stylesheet" href="{% static 'news/css/profile_page.css' %}">
{% endblock %}

{% block content %}
	<div class="profile__header">
		<img src="https://placekitten.com/300/300" alt="username" class="header__avatar">
		<div class="header__username">Vasya Ivanov</div>
		<span class="header__status">i'm dying inside</span>
		<span class="header__followers">0 followers</span>
	</div>
	<div class="last-articles"></div>
{% endblock %}
