<!DOCTYPE html>
<html lang="en">

<head>
	{% load static %}
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="{% static 'news/css/base.css' %}">
	{% block extra_css %}

	{% endblock %}
	<title>{{ pagename }} - NewsTeller</title>
</head>
<body>
	<header>
		{% include 'news/base/navbar.html' %}
	</header>
	<main>
		{% block content %}{% endblock %}
	</main>
</body>

</html>
