{% load static %}
<link rel="stylesheet" href="{% static 'news/css/base/navbar.css' %}">
<!--TODO: add hrefs to all links -->
<nav class="navbar">

	<div class="navbar__left">
		<a href="{% url 'index' %}" class="navbar__title">NewsTeller</a>
	</div>

	<div class="navbar__right">
		{% if request.user.is_authenticated %}
			<a href="{% url 'article_creation' %}" role="button" class="navbar__btn">New article</a>
			{% if request.user.avatar %}
			<img class="navbar__avatar" src="{{ request.user.avatar.url }}">
			{% else %}
			<span style="color: white;">{{ request.user.username }}</span>
			{% endif %}
		{% else %}
		<a class="navbar__btn" href="{% url 'login' %}">Sign in</a>
		{% endif %}
	</div>
</nav>
